---
import Layout from "../layouts/Layout.astro";
import Portrait from "../components/Portrait";
import Card from "../components/Card.jsx";
---

<Layout title="Welcome to Astro.">
	<main class="m-auto p-6 max-w-prose">
		<Portrait />
		<Card />
	</main>
</Layout>
